.more-about-perodua{
  .more-about-perodua-wrap{
    .perodua{
      .logo{
        .logo-wrap{
          padding: 50px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 5px solid #000000;
          border-right: 5px solid #000000;
          border-radius: 30px;
          .image{
            border-radius: 5px;
          }
        }
      }
    }
  }
}